.messageWrapper {
    margin: 34px 0 30px 635px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin: 12px 0 5px;
}

.text {
    max-width: 600px;
    border-radius: 8px;
    background-color: #0066CC;
    padding: 7px 15px 7px 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    color: #FFFFFF;
    line-height: 1.5;
}

.text:after {

}

.name {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}

.messageText {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
}

.time {
    text-align: right;
    margin: 5px;
}