.input:focus {

}

.input {
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    border: 1px solid #0066CC;
    background-color: #e7e3e3;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
}

.superInput {

}

.errorInput {

}

.errorInput:focus {

}

.error {
    color: red
}
