.input:focus {/*
    border-radius: 5px;
    border: 1px solid red;
    width: 300px;
    padding: 10px;
    background-color: red;*/
    /*border-style: none;
    width: 350px;
    padding: 10px;*/
}

.input {
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    border: 1px solid #0066CC;
    background-color: #e7e3e3;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
}

.superInput {
   /* border-radius: 5px;
    border: 1px solid red;
    width: 300px;
    padding: 10px;*/

}

.errorInput {
    /*border: 1px solid red;*/
}

.errorInput:focus {
    /*border: 1px solid red;*/
}

.error {
    color: red
}
