.radio {
    cursor: pointer;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
}

.label input {
    accent-color: black;
}

.label span {
    margin: 8px;

}

.options {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
}
