.App {
    --header_height: 60px;
    padding: 20px 60px 60px;
}
.wrapper {
    margin-top: 80px;
}

.hw {

}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;

    border-bottom: 3px solid #f9dd94;
}
.hwTitle p {
    font-weight: 450;
    font-size: 16px;
}

