.friendMessage {
    margin: 34px 635px 0 0;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin: 12px 0 5px;
}

.friendText {
    max-width: 600px;
    border-radius: 8px;
    background-color: #0066CC;
    padding: 7px 15px 7px 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    color: #FFFFFF;
    line-height: 1.5;
}

.friendText:after {

}

.friendName {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
}


.friendTime {
    margin: 5px; /*695px 30px 7px;*/
}
