.button {
    width: 167px;
    height: 30px;
    border-radius: 3px;
    border-style: none;
    color: #FFFFFF;
    font-weight: 550;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px 10px 10px 0;
    cursor: pointer;
}

.disabled {
    background: #8aa1bb;
    color: #002E5C
}

.secondary {
    background-color: #E5F0FA;
    border: 1px solid #0066CC;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #CC1439;
}

.default:hover {
    background-color: #0080FF;
}

.red:hover {
    background-color: #ff355e;
}

.secondary:hover {
    border: 1px solid #0066CC;
    background-color: #cccccc;
}

.default:active {
    background-color: #0059B2;
}

.secondary:active {
    background-color: #E5F0FA;
}

.red:active {
    background-color: #B21232;

}

.button:disabled {
}
