.button {

}

.disabled {
}

.secondary {
}

.default {
}

.red {
    background: #B31232;
    border-radius: 3px;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
    background: #B31232;
    border-radius: 3px;
}

.button:disabled {
}
